  project=''
  account_ids='1234|5678'
  partner_names='Account 1|Account 2'
  zone=''
  app_engine_region=''
  storage_region=''
  storage_class='Regional'
  bucket='hotel-ads-data-transfer'
  cs_filename='hotel-ads-data-transfer-file'
  dataset='hotel_ads_dataset'
  key_file='keyfile.json'
  template='HotelAdsDataTransfer'

  requirements_file='../scripts/requirements.txt'
  extra_package='../hotel_ads_beam_utils/dist/hotel_ads_beam_utils-0.2.tar.gz'
